@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
}

.header-title {
  padding: 20px;
  color: rgb(61, 183, 236);
  text-shadow: rgb(61, 183, 236) 1px 1px 3px;
}

.header-title-a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 11px;
  font-size: 0.95em;
}

.header-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 11px;
  font-size: 0.95em;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ham-menu {
  display: flex;
  display: none;
  align-items: center;
  color: black;
}

.header-links {
  flex-direction: row;
  display: flex;
}

.icon-close {
  display: none;
}

.header-nav a {
  color: black;
}

.cart-widget-container {
  display: flex;
  align-items: center;
}

.cart-widget-container p {
  font-size: 0.75em;
  margin-left: 5px;
}

.main-container {
  height: 620px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-position-y: -300px;
  background-position-x: 300px;
}

.main-container img {
  position: absolute;
  z-index: 1;
  top: 120px;
  width: 950px;
  right: 0;
}

.main-container h2 {
  font-size: 4.6em;
  color: white;
  z-index: 10;
  top: 270px;
  left: 80px;
  position: absolute;
  text-shadow: white 1px 1px 3px;
}

.main-container p {
  font-size: 1.7em;
  color: white;
  z-index: 10;
  top: 350px;
  left: 100px;
  position: absolute;
  text-shadow: white 1px 1px 3px;
}

.brand-name {
  color: rgb(61, 183, 236);
  text-shadow: rgb(61, 183, 236) 1px 1px 3px;
}

.itemlist-container {
  z-index: 10;
}

.itemlist-product {
  display: inline-block;
}

.itemlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 18px;
}

.itemlist-category {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.greeting-h2 {
  margin-bottom: 8px;
  padding: 20px 0 0 20px;
}

.itemlist-container hr {
  margin-bottom: 25px;
}

.item-container {
  width: 310px;
  height: 300px;
  margin: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(227, 227, 227, 0.938);
  animation-name: aparition-box;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.item-img {
  object-fit: contain;
  height: 200px;
  width: 255px;
  padding-bottom: 10px;
  margin-top: 20px
}

.item-name {
  font-size: 0.8em;
  text-align: center;
}

.item-price-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;
}

.item-price {
  font-size: 1em;
  margin-right: 30px;
}

.item-price s {
  color: red;
}

.item-button {
  padding: 5.5px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  transition: 1s;
  margin-left: 30px;
  font-weight: 550;
  cursor: pointer;
}

.itemdetails {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.itemdetail-container {
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.024);
  height: 85vh;
}

.itemdetail-img {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemdetail-img img {
  width: 550px;
  height: 500px;
  object-fit: contain;
}

.itemdetail-name {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
  max-width: 100%;
}

.itemdetail-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
  width: 33%;
}

.itemdetail-stock {
  padding: 4px;
  font-size: 0.8em;
}

.itemdetail-info s {
  color: rgba(255, 0, 0, 0.712);
}

.product-price-container {
  font-size: 1.7em;
  margin-top: 18px;
}

.product-price-container s {
  font-size: 0.7em;
  padding: 5px;
}

.itemdetail-button {
  width: 100px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  transition: 1s;
  font-weight: 700;
  z-index: 10;
  position: relative;
  cursor: pointer;
}

.go-to-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  animation-name: aparition-confirm;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.go-to-cart-button {
  font-weight: 600;
  text-shadow: 0.5px 0.5px 0.5px black;
  font-size: 1.5em;
  color: rgba(250, 56, 56, 0.932);
  cursor: pointer;
}

.go-to-home {
  font-weight: 600;
  font-size: 1.05em;
  color: black;
  cursor: pointer;
}

.counter {
  display: flex;
  margin: 25px 0px 18px 0px;
}

.counter-function {
  display: flex;
  border: 2px solid black;
}

.counter-number {
  display: flex;
  justify-content: center;
  width: 40px;
}

.counter button {
  padding: 3px;
  font-weight: 700;
}

.counter p {
  color: black !important;
  font-weight: 800;
  margin: 8px;
}

.counter-subtract {
  font-weight: 800;
  font-size: 1.3em;
  background-color: black;
  color: white;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  width: 35px;
  cursor: pointer;
}

.counter-add {
  display: block;
  font-weight: 800;
  font-size: 1.3em;
  background-color: black;
  color: white;
  text-shadow: 0px 0px 1px rgb(255, 255, 255);
  width: 35px;
  cursor: pointer;
}


.confirm-active {
  animation-name: aparition-confirm;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  width: 150px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-weight: 700;
  margin-left: 15px;
  transition: 0.7s;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.confirm-active:hover {
  background-color: white;
  color: black;
}

.confirm-disable {
  display: none;
}

.itemdetail-container span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.884);
}

.itemdetail-container p {
  color: rgba(0, 0, 0, 0.618);
}

.favourites-header {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.error-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
}

.error-container h1 {
  font-size: 7em;
}

.error-container h2 {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.error-container p {
  font-size: 1.5em;
}

.error-container a {
  text-decoration: none;
}

.cart-container {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.024);
}

.cart-header-title {
  display: flex;
  justify-content: row;
}

.cart-header-items {
  display: flex;
  flex-direction: row;
}

.cart-header-items p {
  padding: 10px;
}

.items-in-cart {
  font-weight: 600;
}

.container-all-products {
  display: flex;
  flex-direction: column;
}

.cart-card {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: center;
}

.cart-card img {
  width: 140px;
  height: 120px;
  object-fit: contain;
}

.cart-card-name {
  font-weight: 600;
  width: 40%;
  display: 'flex';
  flex-direction: 'column';
  margin: 10;
}

.cart-card-name-res {
  font-size: 0;
}

.cart-card-desc {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.618);
  padding-top: 5px;
}

.cart-card-desc-res {
  font-size: 0;
}

.cart-card-remove {
  margin-top: 15px;
  color: red;
  font-size: 0.75em;
  text-decoration: underline;
  width: 100px;
  cursor: pointer;
}

.cart-card-remove-res {
  display: none;
}

.cart-card-quantity {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.cart-card-price {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.cart-card-subtotal {
  width: 15%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px;
}

.cart-card div span {
  margin-top: 30px;
  font-weight: 600;
}

.cart-card-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
}

.cart-no-product-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-no-product-container img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  position: relative;
  right: 20px;
}

.cart-no-product {
  font-size: 2em;
  margin-top: 20px;
}

.cart-no-product-return {
  font-size: 1.2em;
}

.cart-remove-all {
  color: red;
  text-decoration: underline;
  cursor: pointer;
}

.cart-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.044);
}

.checkout-img img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.checkout-info {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 360px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 3px 20px;
}

.checkout-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 19px;
  padding-left: 30px;
  padding-right: 30px;
}

.checkout-info h4 {
  font-size: 1.5em;
  margin: 10px 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkout-info p {
  color: black;
  font-size: 1.2em;
}

.checkout-container-button {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.checkout-button {
  padding: 17px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  transition: 1s;
  width: 300px;
  cursor: pointer;
}

.cart-checkout-button:hover {
  color: black;
}

.checkout-cards {
  width: 250px;
  margin: 8px;
  object-fit: contain;
}

.space {
  height: 200px;
}

.checkout-container {
  display: flex;
  justify-content: center;
  height: 450px;
}

.checkout-inputs-container {
  width: 600px;
  border: 1px solid black;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 3px 20px;
  margin-right: 80px;
}

.checkout-inputs-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.checkout-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.checkout-inputs input {
  padding: 6px;
  margin: 8px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.038);
}

.checkout-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.checkout-submit-button {
  padding: 6px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  transition: 1s;
  margin-left: 30px;
  width: 150px;
  cursor: pointer;
}

.checkout-reset {
  padding: 6px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  transition: 1s;
  width: 80px;
  margin-right: 30px;
  cursor: pointer;
}

.contact-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-image: url(https://res.cloudinary.com/federicog/image/upload/v1676590498/my-proyect-css/contact-b3_v2rig1.jpg);
  background-size: cover;
}

.contact-container img {
  width: 600px;
  height: 550px;
  object-fit: contain;
  margin-left: 30px;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  width: 600px;
  border: 2px solid black;
  box-shadow: 0px 3px 20px;
  margin: 0 30px 0 30px;
}

.contact-form-container h2 {
  padding: 15px;
  background-color: white;
}

.contact-form {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form input {
  padding: 5px;
  width: 90%;
  margin-top: 10px;
  border: 2px solid black;
}

.form-textarea {
  display: flex;
  justify-content: center;
  color: black;
  flex-direction: column;
  align-items: center;
}

.form-textarea textarea {
  min-width: 90%;
  max-width: 90%;
  max-height: 150px;
  padding: 5px;
  border: 2px solid black;
}

.textarea-characters {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.526);
  padding: 5px;
  margin: 0px 0px 15px 30px;
}

.form-buttons {
  display: flex;
  justify-content: flex-start;
  width: 90%;
  margin-left: 20px;
  margin-bottom: 10px;
}

.form-buttons button {
  margin: 10px;
  padding: 5px;
  width: 20%;
  margin-top: 10px;
  border: 2px solid black;
  background-color: black;
  color: white;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 10%;
  color: white;
}

.footer p {
  font-weight: 400;
  font-size: 0.85em;
}

.footer-link {
  text-decoration: none;
  color: white;
  padding: 11px;
  font-size: 0.95em;
  font-weight: 550;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes aparition-box {
  0% {
    opacity: 0;
    padding: 1px;
  }

  100% {
    opacity: 1;
    padding: 5px;
  }
}

@keyframes aparition-confirm {
  0% {
    opacity: 0;
    right: 130px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}

@keyframes ham-transition {
  0% {
    right: -700px;
  }
  100% {
    right: 0;
  }
}

@media (max-width: 1440px) {
  .main-container {
    background-image: url(https://res.cloudinary.com/federicog/image/upload/v1676588199/my-proyect-css/home-b3_xr92n9.png);
    background-color: rgba(0, 0, 0, 0.349);
    background-size: cover;
    background-position-y: 0;
    background-position-x: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .main-container img {
    display: none;
  }
  .main-container h2 {
    position: relative;
    top: 0;
    left: 0;
    font-size: 5.5em;
  }
  .main-container p {
    position: relative;
    top: 0;
    left: 0;
    font-size: 1.8em;
    margin-right: 70px;
  }
  .contact-container img {
    display: none;
  }
}

@media (max-width: 1200px) {
  .checkout-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-checkout {
    height: 1000px;
  }
  .checkout-info {
    margin-bottom: 50px;
  }
  .checkout-inputs-container {
    margin-right: 0;
  }
}

@media (max-width: 1024px) {
  .itemdetail-container {
    flex-direction: column;
    height: 1000px;
  }
  .itemdetail-info {
    margin-left: 0;
    width: 85vw;
  }
  .cart-card-desc {
    font-size: 0;
  }
  .cart-card-desc-res {
    font-size: 0.7em;
    color: rgba(0, 0, 0, 0.618);
  }
  .cart-card-info-res {
    width: 200px;
  }
  .cart-card-name-prod {
    font-size: 0;
  }
  .cart-card-name-res {
    font-size: 0.8em;
    font-weight: 600;
  }
  .cart-card-remove-res {
    margin-top: 15px;
    color: red;
    font-size: 0.75em;
    text-decoration: underline;
    width: 100px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
  }
  .cart-card-name {
    display: none;
  }
  .cart-card-info {
    align-items: center;
  }
}

@media (max-width: 950px) {
  .main-container h2 {
    font-size: 4.5em;
  }
  .main-container p {
    font-size: 1.5em;
  }
}


@media (max-width: 768px) {
  .ham-menu {
    display: flex;
    cursor: pointer;
  }
  .ham-menu span {
    font-size: 1.7em;
  }
  .header-links {
    flex-direction: column;
    position: absolute;
    width: 100vw;
    top: 60px;
    right: -800px;
    background-color: rgba(255, 255, 255, 0.932);
    align-items: center;
    z-index: 30;
    animation-duration: 0.6s;
  }

  .header-links a {
    font-size: 1.1em;
    font-weight: 600;
    margin: 8px;
  }

  .header-links.active {
    animation-name: ham-transition;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .icon-close {
    font-size: 1.8em;
    display: inline-block;
    cursor: pointer;
  }
  .main-container h2 {
    font-size: 3.8em;
  }
  .main-container p {
    font-size: 1.2em;
  }
  .go-to-cart-button {
    font-size: 2.3em;
  }
  .go-to-home {
    font-size: 1.3em;
  }
  .checkout-inputs-container {
    width: 85vw;
  }
  .cart-card-name {
    display: none;
  } 
  .cart-card-info {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20px;
    width: 150px;
  }
  .cart-card div span {
    margin-top: 0px;
  }
  .cart-card-quantity {
    flex-direction: row;
    margin: 12px;
    margin-bottom: 20px;
  }
  .cart-card-quantity span {
    margin-left: 5px;
  }
  .cart-card-price {
    flex-direction: row;
    margin: 12px;
    margin-bottom: 20px;
  }
  .cart-card-price span {
    margin-left: 5px;
  }
  .cart-card-subtotal {
    flex-direction: row;
    margin: 12px;
    margin-bottom: 20px;
  }
  .cart-card-subtotal span {
    margin-left: 5px;
  }
}

@media (max-width: 680px) {
  .itemdetail-img {
    width: 100vw;
  }
  .itemdetail-img img{
    width: 90vw;
    height: 80%;
  }
}

@media (max-width: 600px) {
  .main-container {
    background-position: center;
  }
  .main-container h2 {
    font-size: 3.1em;
    text-align: center;
  }
  .main-container p {
    font-size: 0;
  }
  .cart-header-items {
    flex-direction: column-reverse;
    align-items: center;
  }
  .cart-header-items p {
    padding: 5px;
  }
  .error-container h1 {
    font-size: 5em;
  }
}

@media (max-width: 425px) {
  .itemdetail-name {
    font-size: 1.5em;
  }
  .cart-header {
    flex-direction: column;
    height: 150px;
  }
  .cart-no-product-container {
    height: 70vh;
  }
  .cart-no-product-container img {
    width: 200px;
    height: 200px;
    right: 10px;
  }
  .item-price {
    text-align: right;
  }
  .item-button {
    margin-left: 20px;
    width: 80px;
  }
  .checkout-info {
    width: 85vw;
  }
  .checkout-button {
    width: 90%;
  }
  .checkout-submit-button {
    width: 40%;
  }
  .error-container h1 {
    font-size: 4em;
  }
}