@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
}

.header {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-title {
  padding: 20px;
  color: rgb(61, 183, 236);
  text-shadow: rgb(61, 183, 236) 1px 1px 3px;
}

.header-title-a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 11px;
  font-size: 0.95em;
}

.header-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 11px;
  font-size: 0.95em;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cart-widget-container {
  display: flex;
  align-items: center;
}

.cart-widget-container p {
  font-size: 0.75em;
}

.main-container {
  height: 620px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: soft-light;
  background-position-y: -300px;
  background-position-x: 300px;
}

.main-container img {
  position: absolute;
  z-index: 1;
  top: 60px;
  width: 1050px;
  right: 0;
}

.main-container h2 {
  font-size: 5em;
  color: white;
  z-index: 10;
  top: 270px;
  left: 125px;
  position: absolute;
  text-shadow: white 1px 1px 3px;
}

.main-container p {
  font-size: 1.8em;
  color: white;
  z-index: 10;
  top: 360px;
  left: 155px;
  position: absolute;
  text-shadow: white 1px 1px 3px;
}

.brand-name {
  color: rgb(61, 183, 236);
  text-shadow: rgb(61, 183, 236) 1px 1px 3px;
}

.itemlist-container {
  z-index: 10;
}

.itemlist {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px;
}

.itemlist-category {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.greeting-h2 {
  margin-bottom: 8px;
  padding: 20px 0 0 20px;
}

.itemlist-container hr {
  margin-bottom: 25px;
}

.item-container {
  width: 315px;
  height: 300px;
  margin: 15px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(227, 227, 227, 0.938);
  animation-name: aparition-box;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.item-img {
  object-fit: contain;
  height: 200px;
  width: 255px;
  padding-bottom: 10px;
  margin-top: 20px
}

.item-name {
  font-size: 0.8em;
  text-align: center;
}

.item-price-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 15px;
}

.item-price {
  font-size: 1em;
  margin-right: 30px;
}

.item-price s {
  color: red;
}

.item-button {
  padding: 5.5px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  transition: 1s;
  margin-left: 30px;
  font-weight: 550;
}

.itemdetails {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.itemdetail-container {
  padding: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.024);
}

.itemdetail-img {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.itemdetail-img img {
  width: 600px;
  height: 500px;
  object-fit: contain;
}

.itemdetail-name {
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 5px;
  max-width: 80%;
}

.itemdetail-info {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 40px;
  margin-left: 100px;
  width: 35%;
}

.itemdetail-stock {
  margin-top: 13px;
}

.product-price {
  color: rgba(255, 0, 0, 0.613) !important;
}

.itemdetail-button {
  width: 100px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  transition: 1s;
  font-weight: 700;
  z-index: 10;
  position: relative;
}

.go-to-cart-button {
  padding: 15px;
  font-weight: 600;
}

.counter {
  display: flex;
  margin: 18px;
  align-items: center;
}

.counter button {
  padding: 5px;
  font-weight: 700;
}

.counter p {
  color: black !important;
  font-weight: 800;
  margin: 8px;
}

.counter-add {
  display: block;
}

.confirm-active {
  animation-name: aparition-confirm;
  animation-iteration-count: 1;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  width: 150px;
  padding: 4px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-weight: 700;
  margin-left: 15px;
  transition: 1s;
  position: relative;
  z-index: 1;
}

.confirm-active:hover {
  background-color: white;
  color: black;
}

.confirm-disable {
  display: none;
}

.itemdetail-container span {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.884);
}

.itemdetail-container p {
  color: rgba(0, 0, 0, 0.618);
}

.favourites-header {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.error-container-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 300px;
}

.error-container h1 {
  font-size: 7em;
}

.error-container h2 {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.error-container p {
  font-size: 1.5em;
}

.error-container a {
  text-decoration: none;
}

.cart-container {
  padding: 30px;
  font-size: 1.5em;
  font-weight: 700;
  background-color: black;
  color: white;
}

.cart-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.024);
}

.cart-header-title {
  display: flex;
  justify-content: row;
}

.cart-header-items {
  display: flex;
  flex-direction: row;
}

.cart-header-items p {
  padding: 10px;
}

.items-in-cart {
  font-weight: 600;
}

.container-all-products {
  display: flex;
  flex-direction: column;
}

.cart-card {
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: center;
}

.cart-card img {
  width: 140px;
  height: 120px;
  object-fit: contain;
}

.cart-card-name {
  font-weight: 600;
  width: 40%;
}

.cart-card-desc {
  font-size: 0.75em;
  color: rgba(0, 0, 0, 0.618);
  padding-top: 5px;
}

.cart-card-remove {
  margin-top: 15px;
  color: red;
  font-size: 0.75em;
  text-decoration: underline;
  width: 150px;
}

.cart-card-quantity {
  width: 15%;
}

.cart-card-price {
  width: 15%;
}

.cart-card-subtotal {
  width: 15%;
}

.cart-card div span {
  margin-top: 30px;
  font-weight: 600;
}

.cart-card-info {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 60%;
}

.cart-no-product-container {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-no-product-container img {
  width: 300px;
  height: 300px;
  object-fit: contain;
  position: relative;
  right: 20px;
}

.cart-no-product {
  font-size: 2em;
  margin-top: 20px;
}

.cart-no-product-return {
  font-size: 1.2em;
}

.cart-remove-all {
  color: red;
  text-decoration: underline;
}

.cart-checkout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.044);
}

.checkout-img img {
  width: 500px;
  height: 500px;
  object-fit: contain;
}

.checkout-info {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 360px;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 3px 20px;
}

.checkout-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 19px;
  padding-left: 30px;
  padding-right: 30px;
}

.checkout-info h4 {
  font-size: 1.5em;
  margin: 10px 30px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.checkout-info p {
  color: black;
  font-size: 1.2em;
}

.checkout-container-button {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-top: 8px;
  flex-direction: column;
  align-items: center;
}

.checkout-button {
  padding: 17px;
  margin: 3px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: black;
  color: white;
  font-weight: 600;
  font-size: 1.2em;
  transition: 1s;
  width: 300px;
}

.cart-checkout-button:hover {
  color: black;
}

.checkout-cards {
  width: 250px;
  margin: 8px;
  object-fit: contain;
}

.space {
  height: 200px;
}

.checkout-container {
  display: flex;
  justify-content: center;
  height: 450px;
}

.checkout-inputs-container {
  width: 600px;
  border: 1px solid black;
  border: 1px solid black;
  background-color: white;
  box-shadow: 0px 3px 20px;
  margin-right: 80px;
}

.checkout-inputs-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.checkout-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.checkout-inputs input {
  padding: 6px;
  margin: 8px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.038);
}

.checkout-submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.checkout-submit-button {
  padding: 6px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  transition: 1s;
  margin-left: 30px;
  width: 150px;
}

.checkout-reset {
  padding: 6px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.792);
  color: white;
  transition: 1s;
  width: 80px;
  margin-right: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 10%;
  color: white;
}

.footer p {
  font-weight: 400;
  font-size: 0.85em;
}

.footer-link {
  text-decoration: none;
  color: white;
  padding: 11px;
  font-size: 0.95em;
  font-weight: 550;
}

.footer-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@keyframes aparition-box {
  0% {
    opacity: 0;
    padding: 1px;
  }

  100% {
    opacity: 1;
    padding: 5px;
  }
}

@keyframes aparition-confirm {
  0% {
    opacity: 0;
    right: 130px;
  }

  100% {
    opacity: 1;
    right: 0;
  }
}